{% extends 'base.html.twig' %}

{% block title %}Registered{% endblock %}

{% block body %}
    <p>Confirmation d'inscription, vous pouvez retourner sur l'application et vous connecter</p>
{% endblock %}