{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/marvin/Documents/Travail/crossfitChelles/CFChellesApi/src/Controller/UserController.php'|file_link(0) }}">src/Controller/UserController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/marvin/Documents/Travail/crossfitChelles/CFChellesApi/templates/user/index.html.twig'|file_link(0) }}">templates/user/index.html.twig</a></code></li>
        <li>Logout <a href="{{ path('app_security_logout') }}">Logout</a></li>
    </ul>
</div>
{% endblock %}
