{% extends 'base.html.twig' %}

{% block title %}Registered{% endblock %}

{% block body %}
    <p>Votre mot de passe a été renouvelé, vous pouvez retourner sur l'application et vous connecter</p>
{% endblock %}