{% extends 'base.html.twig' %}

{% block title %}Confirmation d'inscription{% endblock %}

{% block body %}
    <h3>{{ email }} vous avez fait une demande d'inscription </h3>
    <p>
        pour confirmer celle-ci veuillez cliquer <a href="{{ path('app_security_registerconfirm', {'token': token}) }}">ici</a>
    </p>
    <p>
        Si cela ne vous dit rien, veuillez ignorer ce mail.
    </p>
{% endblock %}