{% extends 'base.html.twig' %}

{% block title %}Reinitialisation de mot-de-passe{% endblock %}

{% block body %}
    <h3>{{ email }} vous avez demandé à renouveller votre mot de passe!</h3>
    <p>
        Afin de renouveller votre mot-de-passe veuiller cliquer <a href="{{ path('app_resetting_resetpassword', {'token': token}) }}">ici</a>
    </p>
{% endblock %}